<br>
<div class="container">
    <form class="" method="POST" action="preferencias.php" enctype="multipart/form-data">
      Seleccione su color favorito para la página de inicio <br>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="Radios1" name="Radios1" value="option1" checked>
          Azul
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="Radios2" name="Radios2" value="option2">
          Rosa
        </label>
      </div>
      <div class="form-check disabled">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="Radios3" name="Radios3" value="option3" >
          Crema
        </label>
      </div>
      <div class="form-group ">
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" name="submit" class="btn btn-secondary">Aceptar</button>
        </div>
      </div>
    </form>
</div>


<br><br>
